In [8]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules, apriori
import os
from ipywidgets import interact,widgets

In [2]:
fp_df=pd.read_csv('Faceplate.csv',index_col=0)
fp_df.head()

             Red  White  Blue  Orange  Green  Yellow
Transaction
1              1      1     0       0      1       0
2              0      1     0       1      0       0
3              0      1     1       0      0       0
4              1      1     0       1      0       0
5              1      0     1       0      0       0

In [5]:
fp_df=fp_df.astype(bool)# convert to boolean for compatibility of apriori()
itemsets=apriori(fp_df,min_support=0.2,use_colnames=True)
itemsets

    support             itemsets
0       0.6                (Red)
1       0.7              (White)
2       0.6               (Blue)
3       0.2             (Orange)
4       0.2              (Green)
5       0.4         (White, Red)
6       0.4          (Red, Blue)
7       0.2         (Red, Green)
8       0.4        (White, Blue)
9       0.2      (White, Orange)
10      0.2       (White, Green)
11      0.2   (White, Red, Blue)
12      0.2  (White, Red, Green)

In [7]:
rules=association_rules(itemsets,metric='confidence',min_threshold=0.5)
rules=rules[['antecedents','consequents','support','confidence','lift']]
rules

       antecedents   consequents  support  confidence      lift
0          (White)         (Red)      0.4    0.571429  0.952381
1            (Red)       (White)      0.4    0.666667  0.952381
2            (Red)        (Blue)      0.4    0.666667  1.111111
3           (Blue)         (Red)      0.4    0.666667  1.111111
4          (Green)         (Red)      0.2    1.000000  1.666667
5          (White)        (Blue)      0.4    0.571429  0.952381
6           (Blue)       (White)      0.4    0.666667  0.952381
7         (Orange)       (White)      0.2    1.000000  1.428571
8          (Green)       (White)      0.2    1.000000  1.428571
9     (White, Red)        (Blue)      0.2    0.500000  0.833333
10   (White, Blue)         (Red)      0.2    0.500000  0.833333
11     (Red, Blue)       (White)      0.2    0.500000  0.714286
12    (White, Red)       (Green)      0.2    0.500000  2.500000
13  (White, Green)         (Red)      0.2    1.000000  1.666667
14    (Red, Green)       (White)      0.2    1.000000  1.428571
15         (Green)  (White, Red)      0.2    1.000000  2.500000

In [10]:
def create_rules(min_supp,conf_thres):
    itemsets=apriori(fp_df,min_support=min_supp,use_colnames=True)
    rules=association_rules(itemsets,metric='confidence',min_threshold=conf_thres)
    rules=rules[['antecedents','consequents','support','confidence','lift']]
    return rules
widgets.interact(create_rules, min_supp=(0.01,1,0.01),conf_thres=(0,0.01,0.01))

interactive(children=(FloatSlider(value=0.5, description='min_supp', max=1.0, min=0.01, step=0.01), FloatSlide…

Cosmetics

In [11]:
cosmetics=pd.read_csv('Cosmetics.csv',index_col=0)
fp_df=fp_df.astype(bool)# convert to boolean for compatibility of apriori()
itemsets=apriori(fp_df,min_support=0.2,use_colnames=True)
itemsets

    support             itemsets
0       0.6                (Red)
1       0.7              (White)
2       0.6               (Blue)
3       0.2             (Orange)
4       0.2              (Green)
5       0.4         (White, Red)
6       0.4          (Red, Blue)
7       0.2         (Red, Green)
8       0.4        (White, Blue)
9       0.2      (White, Orange)
10      0.2       (White, Green)
11      0.2   (White, Red, Blue)
12      0.2  (White, Red, Green)

In [12]:
rules=association_rules(itemsets,metric='confidence',min_threshold=0.5)
rules=rules[['antecedents','consequents','support','confidence','lift']]
rules

       antecedents   consequents  support  confidence      lift
0          (White)         (Red)      0.4    0.571429  0.952381
1            (Red)       (White)      0.4    0.666667  0.952381
2            (Red)        (Blue)      0.4    0.666667  1.111111
3           (Blue)         (Red)      0.4    0.666667  1.111111
4          (Green)         (Red)      0.2    1.000000  1.666667
5          (White)        (Blue)      0.4    0.571429  0.952381
6           (Blue)       (White)      0.4    0.666667  0.952381
7         (Orange)       (White)      0.2    1.000000  1.428571
8          (Green)       (White)      0.2    1.000000  1.428571
9     (White, Red)        (Blue)      0.2    0.500000  0.833333
10   (White, Blue)         (Red)      0.2    0.500000  0.833333
11     (Red, Blue)       (White)      0.2    0.500000  0.714286
12    (White, Red)       (Green)      0.2    0.500000  2.500000
13  (White, Green)         (Red)      0.2    1.000000  1.666667
14    (Red, Green)       (White)      0.2    1.000000  1.428571
15         (Green)  (White, Red)      0.2    1.000000  2.500000

       antecedents   consequents  support  confidence      lift
0          (White)         (Red)      0.4    0.571429  0.952381
1            (Red)       (White)      0.4    0.666667  0.952381
2            (Red)        (Blue)      0.4    0.666667  1.111111
3           (Blue)         (Red)      0.4    0.666667  1.111111
4          (Green)         (Red)      0.2    1.000000  1.666667
5          (White)        (Blue)      0.4    0.571429  0.952381
6           (Blue)       (White)      0.4    0.666667  0.952381
7         (Orange)       (White)      0.2    1.000000  1.428571
8          (Green)       (White)      0.2    1.000000  1.428571
9     (White, Red)        (Blue)      0.2    0.500000  0.833333
10   (White, Blue)         (Red)      0.2    0.500000  0.833333
11     (Red, Blue)       (White)      0.2    0.500000  0.714286
12    (White, Red)       (Green)      0.2    0.500000  2.500000
13  (White, Green)         (Red)      0.2    1.000000  1.666667
14    (Red, Green)       (White)      0.2    1.000000  1.428571
15         (Green)  (White, Red)      0.2    1.000000  2.500000

In [14]:
def create_rules(min_supp,conf_thres):
    itemsets=apriori(fp_df,min_support=min_supp,use_colnames=True)
    rules=association_rules(itemsets,metric='confidence',min_threshold=conf_thres)
    rules=rules[['antecedents','consequents','support','confidence','lift']]
    return rules
widgets.interact(create_rules, min_supp=(0.01,1,0.01),conf_thres=(0,0.01,0.01))

interactive(children=(FloatSlider(value=0.5, description='min_supp', max=1.0, min=0.01, step=0.01), FloatSlide…