In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules, apriori
import os
from ipywidgets import interact,widgets
from mlxtend.preprocessing import TransactionEncoder

In [4]:
groceries=[]
with open("groceries.csv",'r') as f:groceries=f.read()
groceries=groceries.split('\n')
groceries_list=[]
for i in groceries:
    groceries_list.append(i.split(','))

In [5]:
te=TransactionEncoder().set_output(transform='pandas')
te_ary=te.fit_transform(groceries_list)
itemsets=apriori(te_ary,min_support=0.002,use_colnames=True)
rules=association_rules(itemsets,metric='confidence',min_threshold=0.7)
rules=rules[['antecedents','consequents','support','confidence','lift']]
rules.sort_values(['lift','confidence'],ascending=[False,False])

,antecedents,consequents,support,confidence,lift
82,"(root vegetables, citrus fruit, whole milk, tr...",(other vegetables),0.003152,0.885714,4.577509
63,"(tropical fruit, whole milk, grapes)",(other vegetables),0.002034,0.800000,4.134524
87,"(yogurt, whole milk, fruit/vegetable juice, ro...",(other vegetables),0.002034,0.800000,4.134524
44,"(root vegetables, citrus fruit, tropical fruit)",(other vegetables),0.004474,0.785714,4.060694
60,"(root vegetables, fruit/vegetable juice, tropi...",(other vegetables),0.002542,0.781250,4.037622
...,...,...,...,...,...
2,"(butter, coffee)",(whole milk),0.003355,0.702128,2.747881
38,"(butter, whipped/sour cream, tropical fruit)",(whole milk),0.002135,0.700000,2.739554
41,"(curd, citrus fruit, yogurt)",(whole milk),0.002135,0.700000,2.739554
54,"(whipped/sour cream, domestic eggs, other vege...",(whole milk),0.003559,0.700000,2.739554
78,"(root vegetables, yogurt, tropical fruit)",(whole milk),0.005694,0.700000,2.739554

In [6]:
housing=pd.read_csv('Housing.csv')

In [7]:
intervals=[(0,50000),(50000,100000),(100000,150000),(150000,200000)]
bins=pd.IntervalIndex.from_tuples(intervals)
housing['price_slab']=pd.cut(housing['price'],bins)
intervals=[(0,5000),(5000,10000),(10000,15000),(15000,20000)]
bins=pd.IntervalIndex.from_tuples(intervals)
housing['area_slab']=pd.cut(housing['lotsize'],bins)
housing.drop(['price','lotsize'],axis=1,inplace=True)
housing=housing.astype(object)
fp_df=pd.get_dummies(housing,prefix_sep='=')
fp_df

,bedrooms=1,bedrooms=2,bedrooms=3,bedrooms=4,bedrooms=5,bedrooms=6,bathrms=1,bathrms=2,bathrms=3,bathrms=4,...,prefarea=no,prefarea=yes,"price_slab=(0, 50000]","price_slab=(50000, 100000]","price_slab=(100000, 150000]","price_slab=(150000, 200000]","area_slab=(0, 5000]","area_slab=(5000, 10000]","area_slab=(10000, 15000]","area_slab=(15000, 20000]"
0,False,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,False,True,False,False
1,False,True,False,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
2,False,False,True,False,False,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
3,False,False,True,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,True,False,False
4,False,True,False,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,False,False,True,False,False,False,False,True,False,False,...,True,False,False,True,False,False,True,False,False,False
542,False,False,True,False,False,False,False,True,False,False,...,True,False,False,True,False,False,False,True,False,False
543,False,False,True,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,True,False,False
544,False,False,True,False,False,False,False,True,False,False,...,True,False,False,False,True,False,False,True,False,False
545,False,False,True,False,False,False,True,False,False,False,...,True,False,False,False,True,False,False,True,False,False

In [9]:
itemsets=apriori(fp_df,min_support=0.2,use_colnames=True)
rules=association_rules(itemsets,metric='confidence',min_threshold=0.7)
rules=rules[['antecedents','consequents','support','confidence','lift']]
rules.sort_values(['lift','confidence'],ascending=[False,False])

,antecedents,consequents,support,confidence,lift
2034786,"(recroom=no, price_slab=(50000, 100000], prefa...","(fullbase=yes, bedrooms=3, area_slab=(10000, 1...",0.003663,1.0,273.000000
2034817,"(fullbase=yes, bedrooms=3, area_slab=(10000, 1...","(recroom=no, price_slab=(50000, 100000], prefa...",0.003663,1.0,273.000000
2329164,"(recroom=no, price_slab=(50000, 100000], prefa...","(fullbase=yes, gashw=no, area_slab=(10000, 150...",0.003663,1.0,273.000000
2329179,"(fullbase=yes, gashw=no, area_slab=(10000, 150...","(recroom=no, price_slab=(50000, 100000], prefa...",0.003663,1.0,273.000000
2599550,"(recroom=no, price_slab=(50000, 100000], prefa...","(fullbase=yes, bedrooms=3, area_slab=(10000, 1...",0.003663,1.0,273.000000
...,...,...,...,...,...
675653,"(driveway=yes, airco=no, bedrooms=4, stories=2...",(gashw=no),0.012821,0.7,0.733589
829876,"(airco=no, prefarea=no, stories=2, driveway=ye...",(gashw=no),0.012821,0.7,0.733589
1033692,"(driveway=yes, bedrooms=2, prefarea=no, price_...",(gashw=no),0.012821,0.7,0.733589
1092432,"(driveway=yes, recroom=no, bedrooms=2, prefare...",(gashw=no),0.012821,0.7,0.733589
1772973,"(driveway=yes, recroom=no, bedrooms=2, prefare...",(gashw=no),0.012821,0.7,0.733589